.vertical-middle {
  height: 56px;
  line-height: 56px;
}
.height-radius {
  height: 38px;
  border-radius: 20px;
}
.padding-cursor {
  padding: 0 20px;
  cursor: pointer;
}
.color-cursor {
  color: #969696;
  cursor: pointer;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 20px;
  box-shadow: 0 1px #F0F0F0;
}
.content-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 56px;
  margin-right: 100px;
  cursor: pointer;
}
.home {
  composes: vertical-middle;
  composes: padding-cursor;
}
.home:hover {
  background-color: #F5F5F5;
}
.search-container {
  composes: content-container;
  composes: height-radius;
  margin-left: 20px;
  padding: 0 4px 0 20px;
  position: relative;
  background-color: #eee;
}
.search-container:hover .search-list{
  display: block;
}
.search {
  width: 120px;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: #eee;
  font-size: 1.3rem;
}
.search::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: #969696;
}
:global(.slide-enter) {
  width: 120;
}
:global(.slide-enter-active) {
  width: 180px;
  transition: width 0.3s linear;
}
:global(.slide-enter-done) {
  width: 180px;
}
:global(.slide-exit) {
  width: 180px;
}
:global(.slide-exit-active) {
  width: 120px;
  transition: width 0.3s linear;
}
:global(.slide-exit-done) {
  width: 120px;
}
.search-btn {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
}
.search-btn-active {
  composes: search-btn;
  background-color: #969696;
}
.search-list {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 11;
  width: 240px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px #E9E9E9;
  border-radius: 5px;
  display: none;
}
.list-header {
  display: flex;
  justify-content: space-between;
  color: #969696;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.list-item {
  composes: color-cursor;
  margin: 10px 10px 0 0;
  padding: 1px 5px;
  font-size: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.list-item:hover {
  border-color: #B4B4B4;
}
.login {
  composes: color-cursor;
  padding: 0 10px;
}
.theme {
  composes: iconfont from "css/iconfont.css";
  composes: vertical-middle;
  composes: login;
  font-size: 1.8rem;
}
.register {
  composes: content-container;
  composes: height-radius;
  composes: padding-cursor;
  margin: 0 20px;
  color: #F2907F;
  border: 1px solid #F2907F;
}
.register:hover {
  background-color: #FEF7F6;
}
.article {
  composes: content-container;
  composes: height-radius;
  composes: padding-cursor;
  color: #fff;
  background-color: #EA6F5A;
}
