*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: sans-serif;
}
html {
  font-size: 10px;
}
ul {
  list-style-type: none;
}
:global(.container) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
:global(.error) {
  font-size: 5rem;
  color: #ccc;
  text-align: center;
}